<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         version="3.0">
  
  <!-- Servlet pour l'accueil -->
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>Auth.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <!-- Redirection de la racine vers /home -->
  <servlet>
    <servlet-name>DefaultRedirectServlet</servlet-name>
    <servlet-class>Auth.DefaultRedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultRedirectServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- Servlet pour la connexion -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Auth.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>
